[submodule "bspwm"]
	path = bspwm
	url = https://github.com:baskerville/bspwm.git
[submodule "xdo"]
	path = xdo
	url = https://github.com:baskerville/xdo.git
[submodule "sxhkd"]
	path = sxhkd
	url = https://github.com:baskerville/sxhkd.git
[submodule "xtitle"]
	path = xtitle
	url = https://github.com:baskerville/xtitle.git
[submodule "sutils"]
	path = sutils
	url = https://github.com:baskerville/sutils.git
[submodule "bar"]
	path = bar
	url = https://github.com:LemonBoy/bar.git
